* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 9px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

p,
li,
footer a {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    letter-spacing: -0.2px;
    opacity: .6;
}

li {
    margin-left: 11px;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-shadow: 1px 1px 1px #000;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    box-shadow: 5px 5px 20px #aaa;
    margin: 2vw 0;
    overflow: auto;
    border-radius: 8px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #212121;
}

header h2 {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: .6;
}

header a{
    color: #fff;
    text-decoration: none;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 0 10px 0;
}

nav{
    width: 100%;
    margin: 8px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .55;
}

.content-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

main {
    width: 60%;
}

main,
aside {
    display: flex;
    flex-direction: column;
}

.topic-container {
    margin: 10px 0;
}

.about-me,
.contacts {
    margin-top: 20px;
}

.about-me p{
    text-align: justify;
}

.time-period {
    display: flex;
    margin-bottom: 8px;
}

.time-period__date {
    margin-right: 13px;
}

.time-period__geolocation {
    flex-grow: 1;
    text-align: end;
}

pre {
    background-color: #212121;
    color: #fff;
}

.code-container {
    margin-top: 4px;
}

pre{
    overflow: auto;
}

main .topic-container {
    margin-right: 10px;
}

.no-bullets,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li,
.languages ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__skill-mark {
    min-width: max-content;
    font-size: 8px;
}

.skills__skill-mark i {
    margin: 0 2px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects__project-container {
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: aqua;
}

.projects__project-container h3 {
    text-align: center;
}

footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 1) 100%);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 10px;
    opacity: 1;
    font-size: 14px;
    text-decoration: none;
}

footer a:hover, header a:hover {
    text-shadow: 0 0 5px #fff;
}

footer a .logo {
    font-size: 26px;
    padding-right: 10px;
}

.rs-logo {
    height: 26px;
}

@media screen and (max-width: 1024px){
    .main-container{
        margin: 0;
        border-radius: 0;
    }
    
    .content-box{
        flex-direction: column;
        padding: 0 2vh;
    }

    main{
        width: 100%;
    }

    .contacts{
        order: 1;
    }

    footer{
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 77%, rgba(255,255,255,1) 100%); 
    }
}